.App {
  overflow-x: hidden;
  height: '100%';
  width: '100%';
}

.App-header {
  background-color: #14161f;
  font-size: calc(10px + 2vmin);
  color: #dddddd;
}

.accordion-button {
  background-color: #232935 !important;
  color: #dddddd !important;
  font-size: 30px !important;
}

.accordion-body {
  background-color: #14161f;
  font-size: 20px;
  color: #dddddd
}

.form-control::placeholder {
  color: white !important;
}